@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}
body{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: aquamarine;
    
}
#subtrair{
    color: rgb(26, 29, 28);
    border: 2px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}
#adicionar{
    color: rgb(26, 29, 28);
    border: 2px;
    border-radius: 50px;
    width: 30px;
    height: 30px;
}
#counter{
    display: flex;
}
#currentNumber{
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}
